.address-container{
    display: flex;
    justify-content: space-between;
    padding: 1rem;
    border: 1px dotted var(--secondary-color);
    margin-bottom: 0.5rem;
    width:400px;
 }
 .address-details{
     padding-left: 0.4rem;
     font-weight:bolder;
 }
 .btn-edit-address{
     padding:0rem;
     background-color:inherit;
     border:none
 }
 .address-modal{
    position: fixed;
    padding: 2rem;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0,0,0,0.7);
    color:white;
 }
 .address-body{
     display: flex;
     flex-direction: row;
     margin-top:2rem;
     width:100%;
 }
 .addressess{
    border:1px dotted var( --primary-color);
     width:30%;
     height:fit-content;
     padding:1rem;
     margin-right:1rem
 }
 .address-modal-close{
     position: absolute;
     top:2rem;
     right:10rem;

 }
 .address-form{
     border:1px dotted var( --primary-color);
     padding:1rem;
     width:90%;
    
 }
 .address-fields{
    display: flex;
    flex-direction: row;
    width:100%
 }
 .address-fields label{
     width:20%
 }
 .address-fields input{
     width:60%
 }
 