a{
    color:black;
}
.li{
    list-style: none;
    padding:0.5rem;
    cursor:pointer

}
.active{
    font-weight: 700;
}
.profile{
    position: relative;
    
}
.profile-li{
    position:absolute;
    top:1rem;
    left:10rem;
    border-right :1px solid black
}
.logout{
    position:absolute;
    top:1rem;
    right:5rem;
}
.add{
    position:absolute;
    top:1rem;
    left:20rem;
}

.user-details{
    position:absolute;
    top:1rem;
    left:25rem;
    font-weight: 900;
}
.section-fields{
    padding:1rem 0 0 1rem;
    width:100%

}
.section-fields label{
    margin: 1rem;
}
.address-li{
    width:250px;
    border:1px dotted black;
    padding:1rem;
    margin:1rem;
}
.delete{
    margin:0
}
.btn-logout-mobile-only{
    display: none;
}
@media screen and (max-width:768px) {
    a{
        color:black;
    }
    .profile{
        position:unset;
    }
    .btn-logout-mobile-only{
        display: block;
        background-color: transparent;
        border:none;
    }
    .profile-li {
        position:unset;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        border:none;
        
    }
    .user-details{
        position:unset;
        font-weight: 900;
    }
    .active{
        font-size: large;
        font-weight: 900;
    }
    .logout{
        display: none;
        
    }
    .add{
     position: absolute;
     top:5rem;
     left:1rem;
    }
}