@import '../../style.css';
.address-container{
   display: flex;
   padding: 1rem;
   border: 1px dotted var(--secondary-color);
   margin-bottom: 0.5rem;
   width:400px;
}
.address-details{
    padding-left: 0.4rem;
    font-weight:bolder;
}
.cart-hero{
    display: flex;
    justify-content: center;
    margin-bottom: 0.5rem;
}
.billing-details{
    margin-top:5rem
}
.cart-container{

    width:400px;
}
.cart-item-img{
    width:150px;
    height:150px;
}
.cart-item-container{
    border:1px dotted var(--secondary-color);
    display: flex;
    flex-direction: row;
}
.cart-item-details{
    padding:1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.cart-holder{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.cart-price-deatils{
    margin-left: 1rem;
    display:flex;
    flex-direction: column;
    padding:1rem;
}
.btn-primary{
    width:1.5rem;
    height:2rem ;
    color:var(--primary-color);
    background-color: var(--secondary-color);
    border-radius: 20%;
}
.button-qty{
    display: flex;
}
.quantity{
    padding: 0.4rem;
}
.btn-add2Cart:hover{
    font-weight: 600;
    color:var(--primary-color);
}
.btn-wishlist{
    font-weight: 600;
    cursor:pointer;
    color: var(--secondary-color);
    background-color:var(--primary-color);
    padding: 0.2em;
    border: 1px dotted var(--secondary-color);
}
.btn-wishlist:hover{
    color:var(--primary-color);
    background-color: var(--secondary-color);
}
@media screen and (max-width:768px) {
    .address-container,
    .cart-container,
    .billing-details{
        width:300px
    }
    .cart-hero{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-bottom: 0.5rem;
    }
    .billing-details{
        margin:0;
        display:flex;
        justify-content: center;
        align-items: center;
    }
}