@import '../../style.css';
.item-page{
display: grid;
grid-template-columns: 0.1fr 1fr;
grid-template-areas: "filter item item" ;
}
.item-filter{
    position: fixed;
    grid-area: "filter";
}
.item-list{
    grid-area: "item";
    position: relative;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top:1rem;
}
.card-overlay{
    cursor:pointer;
}
.btn-add2Cart{
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border:1rem;
    margin-top:1rem;
    padding: 0.4rem;
    cursor:pointer;
}