@import '../../style.css';
.item-list{
    position: relative;
    display:flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top:1rem;
}
.card-overlay{
    cursor:pointer;
}
.btn-add2Cart{
    color: var(--primary-color);
    background-color: var(--secondary-color);
    border:1rem;
    margin-top:1rem;
    padding: 0.4rem;
    cursor:pointer;
}